:root {
  --bg-color: #1f242d;
  --color: #fff;
  --brand-color: #04ABCE;
  --pink: #FF0080;
}

/* Fonts */
@font-face {
  font-family: 'Roboto';
  src: url('./../assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('./../assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('./../assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--color);
  transition: 0.5s;
}

body.active {
  --bg-color: #fff;
  --color: #1f242d;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.main-content {
  flex-grow: 1;
  margin-top: 74px;
}

/* Site nav */
.header {
  display: flex;
  position: fixed;
  gap: 20px;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  padding: 15px 50px;
  overflow: hidden;
  background-color: var(--bg-color);
  border-bottom: 1px solid #d1d1d1;
}

.logo-link {
  display: flex;
  margin-right: auto;
}

.logo-img {
  width: 150px;
  height: 25px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: 30px;
}

.nav-link {
  display: block;
  color: var(--color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link.active {
  color: var(--brand-color);
}

.nav-link:active {
  color: var(--pink);
}

.nav-menu {
  display: none;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: var(--brand-color);
}

.mode-btn {
  width: 25px;
  height: 33px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../assets/img/light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.light-btn {
  background-image: url("../assets/img/dark.png");
}

.mode-btn:hover {
  background-size: 100%;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about {
  background-image: url("../assets/img/Mask.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.about-content {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
}

.contact-link {
  color: var(--brand-color);
  text-decoration: none;
}

.contact-link:hover {
  color: var(--pink);
}

.contacts {
  width: 100%;
  background-image: url("../assets/img/contacts.png");
  background-position: left 800px center;
  background-repeat: no-repeat;
  background-size: contain;

}

.contacts-item {
  display: flex;
  align-items: center;
}

.contacts-item__span {
  margin-right: 20px;
}

.contact-item__img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-item__map {
  background-image: url("../assets/img/adress.png");
}

.contact-item__email {
  background-image: url("../assets/img/email.png");
}

.contact-item__github {
  background-image: url("../assets/img/github.png");
}

.contact-item__telegram {
  background-image: url("../assets/img/telegram.png");
}

.contact-item__ln {
  background-image: url("../assets/img/ln.png");
}

.courses-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

.courses-row {
  border: 1px solid #ddd;
}

.courses-col {
  padding-left: 10px;
}

.skills-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0 0 60px;
}

.skills-item {
  width: 150px;
  height: 150px;
  position: relative;
  animation-name: animation;
  animation-duration: 3s;
  animation-iteration-count: 20;
}

.skills-item:nth-child(2) {
  animation-delay: 0.5s;
}

.skills-item:nth-child(3) {
  animation-delay: 1.5s;
}

.skills-item:nth-child(2) {
  animation-delay: 1s;
}

@keyframes animation {
  0% {
    top: 0px;
  }

  50% {
    top: 40px;
  }

  100% {
    top: 0px;
  }
}

.projects-lists {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects-item {
  border-radius: 20px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  overflow: hidden;
}

.projects-link {
  display: block;
  position: relative;
  text-decoration: none;
}

.projects-img {
  display: block;
  object-fit: cover;
  transition: filter 1s ease-in-out;
}

.projects-text {
  position: absolute;
  bottom: -100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  color: var(--pink);
  transition: bottom 0.5s ease-in-out;
}

.projects-link:hover .projects-img {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.projects-link:hover .projects-text {
  bottom: 0;
}

.footer {
  padding: 20px;
}

.footer-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr auto auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1250px) {
  .about-content {
    max-width: 600px;
  }

  .contacts {
    background-position: left 600px center;
  }


  .projects-lists {
    grid-template-columns: auto;
  }
}


@media (max-width: 1000px) {
  .about {
    background-size: 200px;
    background-position: top -70px center;
  }

  .about-content {
    max-width: 100%;
    padding-top: 200px;
  }

  body.lock {
    overflow: hidden;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    background-color: var(--bg);
    transform: translateX(150%);
    transition: transform 0.5s 0.5s ease-in-out, background-color 0.6s ease-in-out;
    overflow: auto;
  }

  .nav.active-nav {
    height: 100vh;
    background-color: var(--bg-color);
    transform: translate(0, 0);
    transition: transform 0.5s ease-in-out;
  }

  body.active .nav {
    background-color: #fff;
  }

  .nav-list {
    padding-left: 50px;
    margin-top: 35px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .nav-item {
    margin: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .nav.active-nav .nav-item {
    margin: 0;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
  }


  .nav-menu {
    position: relative;
    z-index: 2;
    display: block;
    width: 24px;
    height: 22px;
    opacity: 0.7;
    transition: opacity 0.2s ease;
  }

  .nav-menu span {
    position: absolute;
    top: 50%;
    transform: translate(6px, -50%);
    width: 12px;
    height: 2px;
    background-color: var(--color);
  }

  .nav-menu::before,
  .nav-menu::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    background-color: var(--color);
    transition: top 0.1s 0.2s ease, bottom 0.1s 0.2s ease, transform 0.1s ease;
  }

  .nav-menu::before {
    top: 0;
    left: 0;
  }

  .nav-menu::after {
    bottom: 0;
    left: 0;
  }

  .nav-menu.active-nav::before {
    top: 10px;
    transform: rotate(45deg);
    transition: top 0.3s ease, transform 0.3s 0.3s ease;
  }


  .nav-menu.active-nav span {
    display: none;
  }

  .nav-menu.active-nav::after {
    bottom: 10px;
    transform: rotate(-45deg);
    transition: bottom 0.3s ease, transform 0.3s 0.3s ease;
  }

  .courses-table {
    margin-left: 60px;
  }

}

@media (max-width: 960px) {

  .contacts {
    background-image: none;
  }

  .courses-table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .courses-col,
  .courses-row {
    display: block;
  }

  .courses-col {
    border-bottom: 1px solid #ddd;
  }
}

@media (max-width: 768px) {
  .skills-item {
    width: 100px;
    height: 100px;
  }

  .projects-item{
    height: 600px;
  }

.projects-text{
  position: static;
  bottom: 0;
  background-color: transparent;
  color: var(--color);
}
}

@media (max-width: 500px) {
  .contacts-list {
    padding: 0;
  }

  .contact-item__img{
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .contact-link{
    font-size: 11px;
  }

  .skills-item {
    width: 60px;
    height: 60px;
  }

}